﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC';

:root {
/*Theme Color*/
--color11:#9AE56A;

/*Font Color*/
--color20: #1d1d1d;
}

/* OVERWRITE */

h3{
	font-size:14px;
	text-transform: uppercase;
	font-family: Roboto;
	color: var(--color20);
	margin-bottom: 20px;
}

/* TOP BAR */

.top-bar {
	height: 24px;
	background: #f7f7f7;
}

.top-bar-inside {
	max-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	font-family: Open Sans;
	font-size: 11px;
	letter-spacing: 1px;
	color: #000;
	text-transform: uppercase;
	line-height: 24px;
}

.textleft {
	float: left;
	width: 33%;
	text-align: left;
	cursor: help;
}

.textcenter {
	float: left;
	width: 33%;
	text-align: center;
	cursor: help;
}

.textright {
	float: right;
	width: 33%;
	text-align: right;
	cursor: help;
}

/* HEADER */

header {
	height: 64px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

header .logo img {
	position: absolute;
	margin-top: 19px;
	margin-left: 0px;
}

input,textarea{width: calc(3/4.11 * 100%);}

.search-bar{
	position: absolute;
	left: calc(1/3.5 * 100%);
	margin-top: 24px;
	width: calc(1/2.4 * 100%);
}

.add-article {
	position: absolute;
	width: 40px;
	height:40px;
	transition:400ms;
}

.add-article:hover{
	transform:rotate(45deg);
	transition:400ms;
}

.add-article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6.5px;
}

.text-field {
	float: left;
	height:40px;
	background-color:white;
	min-width: 100px;
	margin-left: 10%;
	border: none;
	border-bottom: 1px solid #949494;
}

.search-article {
	position: absolute;
	width: 12.5%;
	height:39px;
	margin-left: -1px;
	border: none;
	border-bottom: 1px solid #949494;
}

.search-article img{
	display: block;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
}

*::-webkit-input-placeholder {
  color: #767676;
	font-family: Open Sans;
	font-size: 14px;
	padding-left: 14px;
}

*:-moz-placeholder {
  color: #767676;
}

*::-moz-placeholder {
  color: #767676;
}

*:-ms-input-placeholder {
  color: #767676;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:autofocus {
  border: none;
}

textarea:focus, input:focus{
	border-bottom: 1px solid #000;
	outline: none;
	color: #000;
	font-size: 14px;
}

.header-navigation {
	float: right;
	width: calc(1/4 * 100%);
	height: 100%;
	margin-top: 0px;
}

.header-navigation img {
	display: block;
	width: 30px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

[id*="header-navigation-label"], [id^=header-navigation-label]  {
	display: block;
	text-transform: uppercase;
	color: black;
	font-size: 10px;
	letter-spacing: 0.2px;
	text-align: center;
}

.header-login {
	float: left;
	height: 100%;
	width: calc(1/3 * 100%);
}

.header-login:hover .header-navigation-label {
	color: var(--color12);
}

.header-notifications {
	float: left;
	height: 100%;
	width: calc(1/3 * 100%);
}

.header-notifications:hover .header-navigation-label {
	color: var(--color12);
}

.header-shoppping-cart {
	float: left;
	height: 100%;
	width: calc(1/3 * 100%);
}

.header-shoppping-cart:hover .header-navigation-label {
	color: var(--color12);
}

/* NAVIGATION */

.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    text-indent: -9999px;
    background: url(images/scrolltop.svg) no-repeat;
    background-size: 50px;
}

.wrapper{
	margin: 0 auto;
	max-width:1200px;
	height: auto;
}

.dropbtn {
	font-family: Roboto Condensed;
  color: #1d1d1d;
  padding: 22px;
  font-size: 16px;
  cursor: pointer;
	padding-left: 0px;
	padding-right:55px;
	text-transform: uppercase;
	letter-spacing: .3px;
	background-color: rgba(255, 255, 255, 0);
	display: inline-block;
}

.dropbtn:hover{
	color:var(--color11);
}

.dropbtn:hover ~ .wrapper2 {
	display: block;
}

.dropbtn2 {
	font-family: Roboto Condensed;
  color: #1d1d1d;
  padding: 22px;
  font-size: 16px;
  cursor: pointer;
	padding-left: 0px;
	padding-right:55px;
	text-transform: uppercase;
	letter-spacing: .3px;
	background-color: rgba(255, 255, 255, 0);
	display: inline-block;
}

.dropbtn2:hover{
	color:var(--color11);
}

.arrow{
  background-image:url("images/arrow.png");
  width: 85px;
  height: 21px;
  margin-top: -21px;
  position: absolute;
}

.wrapper2{
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #b7b7b7;
  padding-left: 15px;
	display:none;
	left:0;
	right:0;
	position:absolute;
	z-index:9;
}

.test{
	height:50%;
	width:24%;
	display: inline-block;
	margin-bottom: 12px;
}

.test h3{
  font-size: 16px;
  color: rgb(43, 43, 43);
  margin-bottom: 7px;
}

.test a{
	color:black;
}

.test a:hover{
	color:var(--color11);
}

#wrapper-wart{
	background-image:url("images/books.png");
  margin-top: 0px;
  float: right;
  width: 206px;
  height: 210px;
  margin-top: -130px;
	margin-right: -50px;
	display:
}

.certifications {
	float: right;
	width: 150px;
}

.certifications img {
	height: 30px;
	margin-top: 15px;
	margin-right: 15px;
}

/* GRID SYSTEM */

.grid_12{
	width:calc(1/1 * 100%);
	height:auto;
	background-color:#1a62a0;
	display: inline-block;
	margin-bottom: -5px;
	text-align: center;
	color:white;
}

.grid_6{
	width:calc(1/2 * 100%);
	height:auto;
	background-color:#0089ff;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
	color:white;
}

.grid_4{
	width:calc(1/3 * 100%);
	height:auto;
	background-color:#29cebe;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
}

.grid_3{
	width:calc(1/4 * 100%);
	height:auto;
	background-color:#60eadd;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
}

.grid_24{
	width:calc(1/5 * 100%);
	height:auto;
	background-color:#e0e0e0;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
}

.grid_2{
	width:calc(1/6 * 100%);
	height:auto;
	background-color:#f7f7f7;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
}

.grid_1{
	width:calc(1/12 * 100%);
	height:auto;
	background-color:white;
	display: inline-block;
	margin-right: -4.3px;
	margin-bottom: -5px;
	text-align: center;
}

/* FAQ HELPER BOX */

.footer-box1{
	width: 100%;
  background-color: #f7f7f7;
  height: 140px;
  padding-top: 1px;
	padding-bottom: 40px;
	margin-top: 5px;
  color: white;
  font-size: 32px;
	font-family: Roboto Condensed;
}

.footer-box-inside1{
	max-width: 1200px;
	margin: 0 auto;
}

.footer-box-inside1 p{
	font-size: 28px;
	color: #666;
	margin-left: 200px;
}

.help-circle {
	position: absolute;
	height: 120px;
	width: 120px;
	background-color: #fff;
	border-radius: 50%;
	border: 6px solid white;
	margin-top: -10px;
	margin-left: 10px;
}

.help-circle p {
	position: absolute;
	text-transform: uppercase;
	color: var(--color11);
	text-align: center;
	line-height: 1;
	margin-left: 0px;
}

/* NEWSLETTER */

.nl-wrapper{
  display: inline-block;
  width: 100px;
}

.nl-mail-input{
	width: calc(4/5.11 * 100%);
	height:40px;
	margin-left:40px;
	border: none;
	padding-left: 40px;
}

.nl-mail-input:focus{
	border: none;
}

.icon-mail:before {
	content: "\f003";
	color: #ccc;
	position: absolute;
	margin-top: 8px;
	margin-left: 49px;
	font-size: 24px;
}

.nl-button1{
	width: 250px;
  height: 30px;
  border: 1px solid transparent;
	border-color: white;
	border-radius: 2px;
  color: white;
  display: block;
  float: right;
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
	font-size: 15px;
	font-family: Roboto Condensed;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom:20px;
}

.nl-button1:hover{
	border: 1px solid white;
	background: white;
	color: black;
	text-decoration: none;
}

#nl-eins {
	display: block;
	float:left;
	width: 50%;
	list-style-type: none;
}

#nl-zwei {
	display: block;
	float:right;
	width: 50%;
	list-style-type: none;
}

/* FOOTER */

.footer-arrow{
	color:var(--color11);
	margin-right: 5px;
}

.certificate-footer {
	float: left;
	width: 20%
}

.certificate-footer img {
	min-width:40px;
	height: 40px;
}

.certificate-footer-textarea {
	float: left;
	width: 80%;
}

.check-icon:before {
	content: "\f00c";
	color: var(--color11);
	padding-right: 12px;
	font: normal normal normal 19px/1 FontAwesome;
	font-size: 18px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.certificate-footer-text {
	font-size: 14px;
	margin: 0 auto;
	padding-left: 10px;
	line-height: 1.8;
}

.footer-box{
	width: 100%;
  background-color: var(--color11);
  height: 170px;
  padding-top: 1px;
	padding-bottom: 40px;
	margin-bottom: 10px;
  color: white;
  font-size: 32px;
	font-family: Roboto Condensed;
}

.footer-box-inside{
	max-width: 1200px;
	margin: 0 auto;
}

#eins, #zwei, #drei, #vier, #fünf {
	display: block;
	float: left;
	width: 20%;
	height: 270px;
	list-style-type: none;
	margin-bottom: 20px;
	margin:0px;
}

.footer-text{
	display: block;
	font-family: Roboto Condensed;
	color: #1d1d1d;
	text-decoration:none;
	font-size: 15px;
	padding-bottom: 13px;
}

.footer-text:hover {
	color: var(--color12);
}

.payment-methods img{
	height: 30px;
	margin: 0 3px 0 0;
}

.social-icon {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid #555;
	background-color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 42px;
}

[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
	color: #000;
	display: inline-block;
	font: normal normal normal 19px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook:hover:before {
	color: #fff;
}

.icon-facebook:hover {
	background-color: #3b5998;
	border: 1px solid #3b5998;
}

.icon-instagram:before {
	content: "\f16d";
}

.icon-instagram:hover:before {
	color: #fff;
}

.icon-instagram:hover {
	background-color: #125688;
	border: 1px solid #125688;
}

.icon-twitter:before{
	content: "\f099";
}

.icon-twitter:hover:before {
	color: #fff;
}

.icon-twitter:hover {
	background-color: #55acee;
	border: 1px solid #55acee;
}

.icon-pinterest:before{
	content: "\f231";
}

.icon-pinterest:hover:before {
	color: #fff;
}

.icon-pinterest:hover {
	background-color: #cb2027;
	border: 1px solid #cb2027;
}
