@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

ul {
	padding-left: 0px;
}

.faq-list {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.faq-title {
	display: inline-table;
}

.category {
	margin-bottom: 60px;
}

.category-title {
	display: block;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	line-height: 1.7;
	letter-spacing: .8px;
}

.faq-question {
	line-height: 71px;
	height: 71px;
	padding: 0px 0px 0px 40px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.2px;
	color: #262626;
}

.link-background {
	background: #fcfcfc;
}

.separator-line {
	height: 1px;
	background: #e4e4e4;
}

.faq-question:hover {
	color: #00DD00;
	cursor: pointer;
}

.faq-question:focus {
	color: #00DD00;
	outline: none;
}

.faq-answer {
    display: none;
    min-width: 700px;
	padding: 10px 70px 60px 40px;
    color: #1d1d1d;
	background: #fcfcfc;
	font-family: Roboto;
}

#further-question {
	line-height: 40px;
	height: 40px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.2px;
	text-align: center;
	text-transform: uppercase;
	color: #444;
	border-bottom: 1px solid #e4e4e4;
}

#further-question:hover  {
	cursor: pointer;
}

#further-questions-content {
	display: none;
}

.further-questions-background {
	background: #56C6FF;
	border: none;
}

.additional-question {
	height: 300px;
	width: 100%;
	margin-bottom: 150px;
	background: #EAF2F9;
}

.additional-question-inside {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.additional-question-title {
	text-align: center;
	padding-top: 50px;
}

.button-black {
	position: absolute;
	display: block;
	margin-top: 100px;
	margin-left: 450px;
	height: 50px;
	width: 300px;
	border: 1px solid #000;
	border-radius: 3px;
	background: #000;
	text-align: center;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: .2px;
}

.button-black:hover {
	border: 1px solid #000;
	background: none;
	color: #000;
}