#nav-container{
	width: 31px;
	float: right;
	margin-right: 40px;
}

.toggle-icon {
	cursor: pointer;
	margin-top: 36px;
	margin-left: 15px;
}

.toggle-icon .bar1 {
	transform:rotate(0deg);
	display: block;
	height: 2px;
	width: 26px;
	background: #1d1d1d;
	box-sizing: border-box;
	transition:500ms;
}

.toggle-icon .bar2 {
	transform:rotate(90deg);
	display: block;
	height: 2px;
	width: 26px;
	background: #1d1d1d;
	margin-top:-2px;
	box-sizing: border-box;
	transition:500ms;
}

.pushed .bar1:nth-of-type(1) {
  transform: rotate(-135deg);
  transition:500ms ease-in-out;
	}

.pushed .bar2:nth-of-type(2) {
		transform: rotate(-225deg);
    transition:500ms ease-in-out;
}


.testtext {
	font-family: Roboto;
	letter-spacing: .5px;
	line-height: 1.7;
	font-size: 17px;
	font-weight: 400;
	color: #1d1d1d;
}

.testtitel {
	font-family: Amatic SC;
	font-size: 48px;
	padding-left: 400px;
	word-spacing: 8px;
	letter-spacing: .5px;
}

.testtext0 {
	font-family: Roboto Condensed;
	letter-spacing: .5px;
	line-height: 1.7;
	font-size: 17px;
	font-weight: 400;
	color: #1d1d1d;
}

.testtext1 {
	font-family: Open Sans;
	line-height: 29px;
	font-size: 16px;
	color: #1d1d1d;
}
a {
	text-decoration: none;
}

a:hover {
	color: #FF7200;
}

h1 {
	color: #1d1d1d;
	font-family: Roboto Condensed;
	font-weight: 400;
	font-size: 40px;
}

h2 {
	color: #1d1d1d;
	font-family: Roboto;
}

body {
  margin: 0px;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #434343;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

li {
	list-style-type: none;
}

.content{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0em 0;
}

img {
	max-width: 100%;
	height: auto;
}