<section class="content">
		<div class="slider"></div>
		<img src="">
		<img src="images/sliderhq2.png">
	</section>
	
	<br><br><br><br><br><br>
	
	<div class="wrapper">

		<div class="grid_12">1200px</div>

		<div class="grid_6">600px</div>
		<div class="grid_6">600px</div>

		<div class="grid_4">400px</div>
		<div class="grid_4">400px</div>
		<div class="grid_4">400px</div>

		<div class="grid_3">300px</div>
		<div class="grid_3">300px</div>
		<div class="grid_3">300px</div>
		<div class="grid_3">300px</div>

		<div class="grid_24">240px</div>
		<div class="grid_24">240px</div>
		<div class="grid_24">240px</div>
		<div class="grid_24">240px</div>
		<div class="grid_24">240px</div>

		<div class="grid_2">200px</div>
		<div class="grid_2">200px</div>
		<div class="grid_2">200px</div>
		<div class="grid_2">200px</div>
		<div class="grid_2">200px</div>
		<div class="grid_2">200px</div>

		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>

	<br>
	<br>

		<div class="grid_1">100px</div>
		<div class="grid_2">200px</div>
		<div class="grid_1">100px</div>
		<div class="grid_4">400px</div>
		<div class="grid_3">300px</div>
		<div class="grid_1">100px</div>

		<div class="grid_1">100px</div>
		<div class="grid_6">600px</div>
		<div class="grid_1">100px</div>
		<div class="grid_1">100px</div>
		<div class="grid_3">300px</div>

		
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		
		
	</div>

	<!-- FAQ HELPER BOX -->
	<div class="footer-box1">
		<div class="footer-box-inside1">
			<div class="help-circle"><p>Noch Fragen?</p></div>
			<p>Wir helfen dir gerne weiter!</p>
		</div>
	</div>